.field-label { margin: 10px 10px 0 10px; }
.field-label>span { font-weight: bold; }
.fleft { float: left }

.limit-div {
    float: left;
    margin-top: 8px;
    width: 260px;
    margin: 0 auto;
    margin-left: 20px;
}

.limit-table {
    border-collapse: separate;
    border-spacing: 5px 8px; 
    vertical-align: top;
    width: 100%;
    padding-left: 40px;
}

.table-left-border {
    border-left: solid 1px #2e2e2e;
}

/* Payment Customization */
table {
   border: 0px;
}

table#gvPaymentType tbody tr {
   border-bottom:1px solid #1F1F1F;
   background: #252525;
}

table#gvPaymentType tbody tr th {
   line-height: 28px;
   height:28px;
   /*background: #333;*/
   background: #252525;
   color: #CCCCCC;
   text-align:left;
   border:0px;
   padding-left: 10px;
}

table#gvPaymentType tbody tr td {
   line-height: 26px;
   height:26px;
   color: #CCCCCC;
   border:0px;
   padding-left: 10px;
}

table#gvWithdrawal tbody tr {
   border-bottom:1px solid #1F1F1F;
}

table#gvWithdrawal tbody tr th {
   line-height: 28px;
   height:28px;
   background: #333;
   color: #CCCCCC;
   text-align:left;
   border:0px;
   padding-left: 10px;
}

table#gvWithdrawal tbody tr td {
   line-height: 26px;
   height:26px;
   color: #CCCCCC;
   border:0px;
   padding-left: 10px;
}

.logo-container {
    display:block;
    /*padding:6px 12px;*/
}

.verticalAlign {
    line-height: 22px;
}

ul.history_sub_menu li:first-child a{
	padding-left: 5px;
	width:100px;
    border: none;
    color: #CCC;
}

.limit-table-font-left {
    color: #808080;
}

.limit-table-font-right {
    font-weight: bold;
    color: #ccc;
}

.biggerFont {
    font-size: 22px;
}

.ui-tooltip {
    background:#252525;
}

/* TopUpCard section --- Start */
table.cardTypeRadio label{
    display: block;
    margin-top: -30px;
    width: 120px;
    padding: 0px 0px 5px 10px;
}

table.amountRadio label{
    display: block;
    margin-top: -20px;
    width: 50px;
    padding: 0px 60px 0px 20px;
}

/* For 其他 */
label[for=rblTopUpAmount_5] { 
    font-size: 18px;
}

.topupBtn {
    position: relative;
    left: 150px;
}
/* TopUpCard section --- End */

/* System Account */
#ddlSystemAccount {
    list-style-type: none; 
    margin-left:0px; 
    margin-bottom: 15px;
    width:202px;
}
#ddlSystemAccount > li > label{
    font-size:14px;
    vertical-align: bottom;
    padding-left: 5px;
}

#ddlSystemAccount > li > input{
    margin-bottom: 2px;
}

.custom-padding-bottom {
    padding-bottom: 5px;
}

.custom-bank-info-size {
    font-size:13px;
}
/*----*/

#chkMobileNotify,#chkPreferred,#chkDoNotShow {
    margin-right: 5px;
    margin-top: 0px;
}

div.video_popup {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -270px;
    margin-left: -380px;
    height: 540px;
    width: 720px;
    z-index: 10000;
}

div.video_overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #101010;
    top: 0;
    left: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    -moz-opacity: 0.80;
    -khtml-opacity: 0.80;
    opacity: 0.80;
    z-index: 9999;
}

body {
    position:relative;
}

div.tutorialLink {
    text-align: center;
}

.bank-downtime-logo {
    display: inline-block;
    width: 17px;
    height: 17px;
    float: right;
    background: url(/_static/_css/img/red-light-icon.png) no-repeat;
    cursor: pointer;
}

.bank-downtime-logo.off {    
    background: url(/_static/_css/img/blue-light-icon.png) no-repeat;
    cursor: default;
}

div.popover.bank-downtime {
    max-width: 200px;
    text-align: left;
    padding: 0 5px;
    border-color: red;
}

.popover.right .arrow:after {
border-right-color: #1f1f1f;
}

.popover.right .arrow {
border-right-color: red;

}

div.popover.bank-downtime > div.popover-content {
    padding: 4px 0px;
}

[class^="tab_logo_"], [class*=" tab_logo_"] {
    display: inline-block;
    width: 40px;
    height: 15px;
    vertical-align: middle;
    margin-bottom: 3px;
    margin-right: 2px;
}

.tab_logo_aloway { background: url(/_static/_css/img/grey/tab/aloway.png) no-repeat; }
.tab_logo_banktransfer { background: url(/_static/_css/img/grey/tab/banktransfer.png) no-repeat; }
.tab_logo_banktransfer_rmb { background: url(/_static/_css/img/grey/tab/banktransfer_rmb.png) no-repeat; }
.tab_logo_fastdeposit { background: url(/_static/_css/img/grey/tab/fastdeposit.png) no-repeat; }
.tab_logo_fastdeposit_rmb { background: url(/_static/_css/img/grey/tab/fastdeposit_rmb.png) no-repeat; }
.tab_logo_neteller { background: url(/_static/_css/img/grey/tab/neteller.png) no-repeat; }
.tab_logo_neteller_aud { background: url(/_static/_css/img/grey/tab/neteller_aud.png) no-repeat; }
.tab_logo_nextpay { background: url(/_static/_css/img/grey/tab/nextpay.png) no-repeat; }
.tab_logo_onlinedeposit { background: url(/_static/_css/img/grey/tab/onlinedeposit.png) no-repeat; }
.tab_logo_onlinedeposit_rmb { background: url(/_static/_css/img/grey/tab/onlinedeposit_rmb.png) no-repeat; }
.tab_logo_pay2pay { background: url(/_static/_css/img/grey/tab/pay2pay.png) no-repeat; }
.tab_logo_ppal { background: url(/_static/_css/img/grey/tab/ppal.png) no-repeat; }
.tab_logo_quickonline { background: url(/_static/_css/img/grey/tab/quickonline.png) no-repeat; }
.tab_logo_quickonline_rmb { background: url(/_static/_css/img/grey/tab/quickonline_rmb.png) no-repeat; }
.tab_logo_sdapay { background: url(/_static/_css/img/grey/tab/sdapay.png) no-repeat; }
.tab_logo_sdapay_rmb { background: url(/_static/_css/img/grey/tab/sdapay_rmb.png) no-repeat; }
.tab_logo_wingmoney { background: url(/_static/_css/img/grey/tab/wingmoney.png) no-repeat; }
.tab_logo_asiaweiluy { background: url(/_static/_css/img/grey/tab/asiaweiluy.png) no-repeat; }


.new_sup {
    background:red;
    color:white;
    padding:1px 3px 3px;
    font-size:12px;
    position:relative;
    height:10px;
    line-height:10px;
    margin-left:2px;
    float:none !important;
    left: 0 !important;
    top: -0.5em;
    vertical-align: baseline;
}

.cbStyle > input[type="checkbox"]
{
    margin: 0 !important;
}